<<<<<<< HEAD
body{
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  background-color: hsl(71, 4%, 49%);
  font-size: 20px;
}

h1{
    font-size: 60px; 
    color: rgb(255, 255, 255);   
}


button{
  font-size: 20px;
  padding: 5px 10px ;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
}

.text-box{
  font-size: 20px;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}
li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid rgb(238, 238, 238);
  border-radius: 5px;
  background-color: rgb(186, 169, 139);
  margin: 10px auto;
  width: 80%;
  max-width: 600px;
}

.move-group {
  display: flex;
  margin-left: auto;
  gap: 5px;
}

.moving-btn {
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 0;
}
.add-button{
  background-color: hsl(120, 20%, 30%);
  transition: background-color 0.5s ease;
  color: white;
  padding: 5px;
  width: 110px;
}
.add-button:hover{
  background-color: hsl(120, 20%, 40%);
}
.clear-button{
  background-color: hsl(0, 69%, 40%);
  transition: background-color 0.5s ease;
  color: white;
  font-size: 15px;
}
.clear-button:hover{
  background-color: hsl(0, 69%, 50%);
}
=======
nav{
  background-color: rgb(127, 127, 127);
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: center;
  margin-top: 2rem;
}
>>>>>>> 65687eabfaaa5de9f6fd81f55c91afd652a43a6f
