body{
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  background-color: hsl(71, 4%, 49%);
  font-size: 20px;
  margin: 0;    
  padding: 0;        

}

h1{
    font-size: 60px; 
    color: rgb(255, 255, 255);   
}


button{
  font-size: 20px;
  padding: 5px 10px ;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
}

.text-box{
  font-size: 20px;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}
li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid rgb(238, 238, 238);
  border-radius: 5px;
  background-color: rgb(186, 169, 139);
  width: 80%;
  max-width: 600px;

}

.move-group {
  display: flex;
  margin-left: auto;
  gap: 5px;
}

.moving-btn {
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 0;
}
.add-button{
  background-color: hsl(120, 20%, 30%);
  transition: background-color 0.5s ease;
  color: white;
  padding: 5px;
  width: 110px;
}
.add-button:hover{
  background-color: hsl(120, 20%, 40%);
}
.clear-button{
  background-color: hsl(0, 69%, 40%);
  transition: background-color 0.5s ease;
  color: white;
  font-size: 15px;
}
.clear-button:hover{
  background-color: hsl(0, 69%, 50%);
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }

  .text-box,
  .add-button,
  .clear-button {
    width: 100%;
    margin: 5px 0;
  }

  li {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  ul{
    padding: 0%;
  }
  
  .moving-btn {
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0;
  }

  .move-group {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}


.to-do-list.dark .text-box,
.to-do-list.dark button {
  background-color: #333;
  color: #eee;
  border: 1px solid #555;
}

.to-do-list.dark li {
  background-color: #222;
  border-color: #444;
}


.to-do-list.dark .moving-btn {
  background-color: #555;
  color: #eee;
  border: none;
}


.to-do-list.dark .moving-btn:hover {
  background-color: #777;
}


.to-do-list.dark .add-button {
  background-color: hsl(120, 40%, 30%);
  color: white;
}

.to-do-list.dark .add-button:hover {
  background-color: hsl(120, 40%, 40%);
}


.to-do-list.dark .clear-button {
  background-color: hsl(0, 69%, 30%);
  color: white;
}

.to-do-list.dark .clear-button:hover {
  background-color: hsl(0, 69%, 40%);
}

body.dark {
  background-color: #121212;
  color: #eee;
}

.dark-btn{
  border: none;
  font-size: 10px;
  margin-top: 20px;
  display: flex;

}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}